// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.button {
    background-color: lavender;
    border-radius: 5%;
    border: none;
    box-shadow: 4px 4px 3px #333;
    display: inline-block;
    padding: 0;
    transition: transform 0.2s;
    &:hover {
        box-shadow: 2px 2px 1px #333;
        transform: translateY(1px) translateX(1px);
    }
    &:focus {
        background-color: mediumvioletred;
        color: white;
        transform: translateY(1px) translateX(1px) scale(200%);
    }
    &:active {
        background-color: mediumvioletred;
        color: white;
        transform: translateY(1px) translateX(1px) scale(200%);
    }
}
.social-btn {
    color: mediumvioletred;
    display: inline-block;
    font-size: 120%;
    padding: 2em;
    &::after {
        content: " :)";
        color: transparent;
    }
    &::before {
        content: "   ";
    }
    &:hover {
        color: currentColor;
        text-decoration: none;
        &::after {
            color: currentColor;
        }
    }
}
